<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>redmond</param-value>
    </context-param>
    
    <!-- UNIX DOCUMENT DIRECTORY -->
    <context-param>
        <param-name>UNIX_CONTENT_DIR</param-name>
        <param-value>/opt/SKEELMART_UPLOADED_DOC/</param-value>
    </context-param>   
    <!-- END UNIX DOCUMENT DIRECTORY -->
   
   
    <!-- WINDOW DOCUMENT DIRECTORY --> 
    <context-param>
        <param-name>WIN_CONTENT_DIR</param-name>
        <param-value>C:/SKEELMART_UPLOADED_DOC/</param-value>
    </context-param>       
   
    <!-- END WINDOW DOCUMENT DIRECTORY --> 
     
    <!-- Relative Path document -->
      
    <context-param>
        <param-name>WIN_RELATIVE_DIR</param-name>
        <param-value>/SKEELMART_UPLOADED_DOC/</param-value>
    </context-param>
    <!-- End Relative Path -->
   
     
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>commons</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>  
    
    <filter>
        <filter-name>noCache</filter-name>
        <filter-class>org.omnifaces.filter.CacheControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>noCache</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    
    
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
        <url-pattern>/javax.faces.resource/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
 
    
    <resource-ref>
        <description>jdbc:mysql://localhost:3306/ksp_skeelmart</description>
        <res-ref-name>skeelmart_ds</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    
    <resource-ref>
        <description> mail Session </description>
        <res-ref-name>skeelmart_mail</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth> Container </res-auth>
    </resource-ref>

     
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/WEB-INF/errorpages/viewExpired.xhtml</location>
    </error-page>
    
    
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/WEB-INF/errorpages/bug.xhtml</location>
    </error-page>
    
    
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errorpages/500.xhtml</location>
    </error-page>
    
    
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errorpages/404.xhtml</location>
    </error-page>
    
    
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
</web-app>
