
table.report-table{
    width: 100%;
}

table.report-table > tbody > tr > td{
    padding: 2px;
    color: #000000;
    font-weight: bold;
    font-size: 11px !important;
}

table.report-table > thead > tr > th{
    padding: 2px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 11px !important;
}

.report-page-number{
    display: block;
    text-align: center;
    font-weight: bold;
}

.sub-analysis-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.stage-4-to-5-item-container{
    display: inline-block;
    width: 625px;
    margin-left: 10px;
    min-height: 270px;
}

.stage-6-to-7-item-container{
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    /*min-height: 270px;*/
}

.stage-6-to-7-item-content-wrapper{
    width: 80%;
}

.stage-8-item-container{
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    /*min-height: 270px;*/
}

.stage-8-item-content-wrapper{
    width: 80%;
}

.stage-9-item-container{
    display: inline-block;
    padding-left: 30px;
    font-weight: bold;
}

.stage-9-item-content-wrapper{
    padding-left: 50px;
}

.print-landscape{
    width: 1300px;
}

.report-wrapper{
    padding:5px;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: block;
    /*margin: 1rem;*/
    /*padding-left: 5px;*/
    position: relative;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /*page-break-after: always;*/
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

